html {;
    font-size: 14px;
    font-family: "Open Sans", "sans*serif";
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #399bd1;
    padding-left: 15px;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

.active, .active a, active a:hover {
  color: #399bd1;
}

nav {
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:hover {
  background-color: inherit;
  color: #399bd1;
}

.jumbotron {
    height: 44rem;
    padding-top: 10rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron h1 {
    font-family: "Monoton", sans-serif;
    font-size: 7.1rem;
}

.jumbotron p {
    max-width: 51.3rem;
    margin: auto;
}

.jumbotron h1, .jumbotron p {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.jumbotron-bike {
    background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-beer {
    background-image: url("../images/jumbotron-beer.jpg");
}

.jumbotron-flowers {
    background-image: url("../images/jumbotron-flowers.jpg");
}

.jumbotron-duffel {
    background-image: url("../images/jumbotron-duffel.jpg");
}

.btn-primary {
    margin-top: 2.8rem;
    width: 11.4rem;
    padding: 1.3rem 0;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    transition: all 0.3s;
}

.btn-primary:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transition: all 0.1sn;
}

.image-container {
    overflow: hidden;
    cursor: pointer;
}

.image-container img {
width: 100%;
opacity: 0.7;
transition: transform .5s,
            opacity .5s;
}

.image-container img:hover {
opacity: 1;
transform: scale(1.3);
}

.featured-project h2 {
margin-bottom: 20px;
}

.featured-project ul {
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.7);
}

.projects {
    padding-bottom: 5.85rem;
}

.having-trouble {
    padding: 5.2rem 0;
    background-color: #f3f3f3;
}

.having-trouble .container {
    text-align: center;
}

.having-trouble .container strong {
    font-size: 2.5rem;
    font-weight: bold;
}

.having-trouble .container p {
    margin-top: 1.4rem;
    width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width:768px) {
    .jumbotron {
        font-size: 5.7rem;
    }
}
